<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Statistics</h1>
            <span>University of Illinois at Urbana-Champaign</span>
            <span><address>Champaign, IL</address><time>2017 - 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B. Tech in Information Technology and Mathematical Innovations</h1>
            <span>Cluster Innovation Centre, University of Delhi</span>
            <span><address>New Delhi, India</address><time>2012 - 2016</time></span>
        </header>
    </article>
</section>
