<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>UNIVERSITY OF ILLINOIS AT URBANA-CHAMPAIGN, Champaign, IL</address><time>2018 - Present</time></span>
        </header>
        <p>August 2018 - Present | LAS First Year Experience <br><br>
          January 2018 - May 2018 | CS 102: Little Bits to Big Ideas </p>
    </article>
    <article>
        <header>
            <h1>Data Science Intern</h1>
            <span><address>GODADDY, Boston, MA</address><time>May 2018 - August 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>ECOFROST TECHNOLOGIES, Pune, India</address><time>August 2016 - July 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Data Science Intern</h1>
            <span><address>SILVERPUSH, Gurugram, India</address><time>Feb 2016 – May 2016</time></span>
        </header>

    </article>

</section>
