<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Treasurer</h1>
            <span><address>Asha for Education UIUC Chapter</address><time>2018-Present</time></span>
        </header>
        <p>
          Managed incoming and outgoing finances for the organization and coordinated with the Asha Central team to ensure efficient financial management of the chapter.
        </p>
    </article>
    <article>
        <header>
            <h1>Graduate Coordinator</h1>
            <span><address>Asha for Education UIUC Chapter</address><time>2017-2018</time></span>
        </header>
        <p>
          Organized large-scale (~2.5k attendees) fund-raising events for Asha for Education. Funds were used to finance educational projects for underprivileged students in India.
          <br>
          Supervised efforts of a team of 12 members.
        </p>
    </article>
</section>
