<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Data Analysis</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>Python (Numpy, Pandas, SciPy), SAS</em>, <em> R</em>
        </p>
        <br>
        <header>
            <h1>Databases</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>SQL, Hive, PySpark, Google BigQuery</em>
        </p>
        <br>
        <header>
            <h1>Scripting</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>Python, Pig</em>
        </p>
        <br>
        <header>
            <h1>Machine Learning and Statistical Analysis</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>Python (StatsModels, PyMC3, Sklearn, NLTK, PyTorch), R, SAS</em>
        </p>
        <br>
        <header>
            <h1>Visualization</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>Python (MatplotLib, Plotly, Seaborn), R (RShiny, Leaflet, ggplot)</em>
        </p>
        <br>
        <header>
            <h1>Mathematical Analysis</h1>
        </header>
        <p>
          &nbsp;&nbsp;<em>MATLAB, Mathematica</em>
        </p>


    </article>
</section>
